* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left {
    width: 30%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url("../src/fond_form.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.header > h2 {
    margin: 0;
    color: #308a2f;
}

.header > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,.4);
}

form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

form > p {
    text-align: right;
}

form > p > a {
    color: #000;
    font-size: 14px;
}

form > input {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
}
form > input:focus {
    border-color: #32dc30;
}

form > input[type="submit"] {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #32dc30 0%, #308a2f 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}
form > p {
    text-align: right;
}

form > p > a {
    color: #b0abab;
    font-size: 14px;
}