*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --darkGray: #3b3e45;
    --lightGreen: #32dc30;
    --Saumon: rgba(245, 93, 93, 0.4);
    --Beige: rgba(238, 146, 57, 0.4);
    --LightCyanBlue : rgba(102, 136, 255, 0.4);
    --SaumonRGB: rgba(245, 93, 93);
    --BeigeRGB: rgba(238, 146, 57);
    --LightCyanBlueRGB : rgba(102, 136, 255);
    --DarkWhite:#f9f9f9;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background:url("../src/fond.svg");
}
header {
    width: 100%;
    height: 15vh;
    padding: 2% 5%;
    border-radius: 0 0 35px 35px;
    box-shadow: 0 4px 24px 0 rgba(168, 168, 168, 0.25);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5vh;
}

header .currentDateTimeLayout{
    width: 25%;
}
header .currentDateTimeLayout .currentDateTime{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .currentDateTimeLayout .currentDateTime .currentHour h1{
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
}
header .currentDateTimeLayout .currentDateTime .currentDate h2{
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
/****************************************************************************************/

header .searchBarLayout{
    width: 75%;
}
header .searchBarLayout .searchBar{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 8px 12px 8px 31px;
    border-radius: 35px;
    border: solid 1px var(--lightGreen);
    background-color: #fff;
}
header .searchBarLayout .searchBar input[type="text"]{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
header .searchBarLayout .searchBar img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/****************************************************************************************/
main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5vh;
    grid-row-gap: 0;
    width: 100%;
    min-height: 100%;
}
/****************************************************************************************/
main .sideMenu{
    width: 100%;
    height: 100%;
    padding: 4% 7% 4% 0;
    border-radius: 35px;
    box-shadow: 0 4px 24px 0 rgba(168, 168, 168, 0.25);
    background-color: #fff;
}
main .sideMenu ol{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .sideMenu ol li{
    height: 100px;
    width: 100%;
    border-radius: 0 35px 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
}

main .sideMenu ol li a{
    text-decoration: none;
    color: var(--darkGray);
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
main .sideMenu ol li:hover{
    background-color: var(--lightGreen);
    cursor: pointer;
}
main .sideMenu ol li:hover a{
    color: white;
}
/****************************************************************************************/

main .mainData{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-column-gap: 0;
    grid-row-gap: 2vh;
}
/****************************************************************************************/
main .mainData .mainToolsLayout{
    width: 100%;
    height: 10vh;
    padding: 1% 1% 1% 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mainData .mainToolsLayout .weekButton{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mainData .mainToolsLayout .weekButton .button{
    width: 5vh;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    padding: 11px 12px 8px;
    border-radius: 10px;
    border: solid 1px var(--lightGreen);
    cursor: pointer;
}
.mainData .mainToolsLayout .weekButton .date{
    padding: 5px;
    width: 20vh;
    text-align: center;
}
.mainData .mainToolsLayout .weekButton .date h3{
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
}
.mainData .mainToolsLayout .weekButton .button .leftArrow, .mainData .mainToolsLayout .weekButton .button .rightArrow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainData .mainToolsLayout .format{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.mainData .mainToolsLayout .format .button{
    width: 5vh;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 11px 12px 8px;
    border-radius: 10px;
    border: solid 1px var(--lightGreen);
}
.mainData .mainToolsLayout .format .button img{
    width: 100%;
    height: 100%;
}
.selected{
    background-color: var(--lightGreen);
    color: white;
    cursor: pointer;
}
.notSelected{
    background-color: white;
    color: var(--lightGreen);
    cursor: pointer;
}
/****************************************************************************************/

.mainData .mainContentLayout{
    width: 100%;
    height: 115vh;
    padding: 1% 1% 1% 1%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5vh;
    grid-row-gap: 0;
}
.mainData .mainContentLayout .listDay ol{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainData .mainContentLayout .listDay ol li{
    height: calc(100% / 8);
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow:  -5px 5px 10px #dedede,
    5px -5px 10px #e2e2e2;
}
.mainData .mainContentLayout .listDay ol li:first-child{
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.mainData .mainContentLayout .listDay ol li:nth-child(2){
    background-color: var(--Saumon);
}
.mainData .mainContentLayout .listDay ol li:nth-child(3){
    background-color: var(--Beige);
}
.mainData .mainContentLayout .listDay ol li:nth-child(4){
    background-color: var(--LightCyanBlue);
}
.mainData .mainContentLayout .listDay ol li:nth-child(5){
    background-color: var(--LightCyanBlue);
}
.mainData .mainContentLayout .listDay ol li:nth-child(6){
    background-color: var(--Beige);
}
.mainData .mainContentLayout .listDay ol li:nth-child(7){
    background-color: var(--Saumon);
}
.mainData .mainContentLayout .listDay ol li:nth-child(8){
    background-color: var(--Saumon);
}

.mainData .mainContentLayout .listDay ol li h6{
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}

/****************************************************************************************/
.mainData .mainContentLayout .listEvent{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainData .mainContentLayout .listEvent ol {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.mainData .mainContentLayout .listEvent ol li{
    height: calc(100% / 8);
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.mainData .mainContentLayout .listEvent ol li:first-child{
    visibility: hidden;
    margin-top: 0;
}
/****************************************************************************************/
.mainData .mainContentLayout .listEvent ol li .cardEventLayout{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
    background-image: linear-gradient(100deg, #e3e9ff, rgba(255, 255, 255, 0.001) 10%);
    padding: 1%;
    margin: 0 1%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
}

.mainData .mainContentLayout .listEvent ol li .cardEventLayout::before {
    content: "";
    width: 3%;
    position: absolute;
    opacity: 1;
    height: 100%;
    border-radius: 15px 0 0 15px;
    background-color: var(--LightCyanBlueRGB);
    left: 0%;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardHeader{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardEventDescription{
    overflow: scroll;
    width: 100%;
    height: 80%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardEventDescription p{
    font-family: 'Roboto', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardEventOptions{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardEventOptions a{
    text-decoration: none;
    color: var(--darkGray);
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardEventOptions a img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardHeader .cardEventTitle{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardHeader h4{
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardHeader .cardEventTime{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.mainData .mainContentLayout .listEvent ol li .cardEventLayout .cardEvent .cardHeader .cardEventTime h5{
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1px;
}
.noEvent p{
    color: var(--darkGray);
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
}
.username{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.username p{
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 15px;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
/****************************************************************************************/
.event{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.updateForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.updateForm > label{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--lightGreen);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
.updateForm > input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
.updateForm > select#event_category{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}
.updateForm > option{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    color: var(--darkGray);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#show-popup {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}