<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <title>Gestion des catégories</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>

    <div class="container mt-5">

        <!-- Modal -->
        <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryModalLabel">Ajouter une catégorie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Category Form -->
                        <form action="/addCategory" id="categoryForm" method="post">
                            <div class="form-group">
                                <label for="name">Nom de la catégorie</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                                <input type="submit" class="btn btn-primary" value="Ajouter">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-center">Gestion des catégories</h1>

        <div class="row mt-3">
            <div class="col-12">
                <!-- Button to trigger the modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCategoryModal">
                    Ajouter une catégorie
                </button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <!-- Table with Bootstrap styling -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{range .Categories}}
                            <tr>
                                <td>{{.Id}}</td>
                                <td>{{.Name}}</td>
                                <td>
                                    <form action="/deleteCategory?idCat={{.Id}}" method="post">
                                        <input type="submit" class="btn btn-danger" value="Supprimer">
                                    </form>
                                    <form action="/updateCategory?idCat={{.Id}}" method="post">
                                        <input type="text" class="form-control" id="name" name="name" required>
                                        <input type="submit" class="btn btn-primary" value="Modifier">
                                    </form>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/planning'">Retour</button>
    </div>

    <!-- Bootstrap and jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
