<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil projet Go</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="currentDateTimeLayout">
        <div class="currentDateTime">
            <div class="currentHour">
                <h1></h1>
            </div>
            <div class="currentDate">
                <h2></h2>
            </div>
        </div>
    </div>
    <div class="searchBarLayout">
        <div class="searchBar">
            <img src="/static/src/icons/logo_search.svg" alt="search logo">
            <input type="text" placeholder="Rechercher">
        </div>
    </div>
    <div class="logoLayout">
        <div class="logo">
            <a href="/logout"><img src="/static/src/icons/exit.svg" alt="logo"></a>
        </div>
    </div>
    <div class="username">
        <p>{{.Username}}</p>
    </div>
</header>
<main>
    <div class="sideMenu">
        <ol>
            <li><a href="/createEventData">Créer un événèment</a></li>
            <li><a href="/planning">Planning</a></li>
            <li><a href="/createCatgory">Créer une catégorie</a></li>
            <li><a href="/logout">Déconnexion</a></li>
        </ol>
    </div>
    <div class="mainData">
        <div class="mainToolsLayout">
            <div class="format"></div>
        </div>
        <div class="mainContentLayout">
            <div class="event">
                <form class="updateForm" action="/editEvent?id={{.Event.ID}}" method="post">
                    <label for="title">Titre:</label>
                    <input type="text" id="title" name="title" value="{{.Event.Title}}" required>

                    <label for="description">Description:</label>
                    <input id="description" name="description" required value="{{.Event.Description}}"/>

                    <label for="localisation">Localisation:</label>
                    <input type="text" id="localisation" name="localisation" value="{{.Event.Location}}" required>

                    <label for="start_date">Date de début:</label>
                    <input type="datetime-local" id="start_date" name="start_date" value="{{.Event.StartDateTime}}" required>

                    <label for="end_date">Date de fin:</label>
                    <input type="datetime-local" id="end_date" name="end_date" value="{{.Event.EndDateTime}}" required>

                    <label for="event_category">Catégorie:</label>
                    <select id="event_category" name="event_category" required>
                        {{range .Categories}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    <input type="submit" value="Enregistrer les modifications" />
                </form>
                <button class="deleteEvent" onclick="window.location.href='/deleteEvent?idEvent={{.Event.ID}}'">Supprimer l'événement</button>
           </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</main>
</body>
</html>