<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="../css/form.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="left">
        <div class="header">
            <h2>Re-bonjour</h2>
            <h4>Connecter vous</h4>
        </div>
        <form method="post" action="/login">
            <input type="text" class="form-field" name="username" placeholder="DevGo__">
            <input type="password" class="form-field" name="password" placeholder="Azerty123456789">
            <input type="submit" value="Connexion" class="form-field" placeholder="Connexion">
            <p><a href="register.gohtml">Pas de compte ?</a></p>
        </form>
        {{if .Error}}
            <p style="color: #880000;">Erreur: {{.Error}}</p>
        {{end}}
        {{if .Success}}
            <p style="color: #10c407;">Succès : {{.Success}}</p>
        {{end}}

    </div>
    <div class="right"></div>
</div>

</body>
</html>