<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="../css/register.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="wrap">
        <div class="header">
            <h2>Bienvenue</h2>
            <h4>Inscrivez-vous</h4>
        </div>
        <form method="post" action="/register">
            <input type="text" class="form-field" name="username" placeholder="Nom d'utilisateur">
            <input type="password" class="form-field" name="password" placeholder="Mot de passe">
            <input type="password" class="form-field" name="password_conf" placeholder="Confirmation de mot de passe">
            <input type="submit" class="form-field" placeholder="inscription">
            <p><a href="form.gohtml">Déjà un compte ?</a></p>
        </form>
        {{if .Error}}
            <p style="color: #880000;width:70%">Erreur: {{.Error}}</p>
        {{end}}
    </div>
</div>

</body>
</html>